<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Тестовая задача</title>
</head>
<body>
	<h1>Тестовая задача для разработчика-стажёра в команду Информационной безопасности Авито для защиты сайта от ботов</h1>
	<p>Необходимо создать HTTP-сервис, способный ограничивать количество запросов (rate limit) из одной подсети IPv4. Если ограничения отсутствуют, то нужно выдавать одинаковый статический контент..</p>
	<h3>Требования:</h3>
		<p>- язык: Go или Python + </p>
		<p>- код должен быть выложен на GitHub + </p>
		<p>- ответ должен соответствовать спецификации RFC 6585 + </p>
		<p>- IP должен извлекаться из заголовка X-Forwarded-For + </p>
		<p>- подсеть: /24 (маска 255.255.255.0) + </p>
		<p>- лимит: 100 запросов в минуту + </p>
		<p>- время ожидания после ограничения: 2 минуты + </p>
	<h3>Усложнения (плюс в карму за каждый пункт):</h3>
		<p>- покрытие тестами</p>
		<p>- контейнеризация, возможность запустить с помощью docker-compose up + </p>
		<p>- размер префикса подсети, лимит и время ожидания можно задавать при старте сервиса + </p>
		<p>- отдельный handler для сброса лимита по префиксу + </p>
</body>
</html>
